@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayRoman.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}
#page1{
    min-height:100vh;
    width: 100%;
    background: #EFEAE3;
    position:relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 0vw;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    padding: 10px 20px;
   border: 1px solid rgb(63, 58, 58);
   border-radius: 50px;
   font-weight: 500;
   position: relative;
   color: black;
   font-size: 18px;
   border-radius:50%;
   overflow: hidden;
}


#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:black;
    left: 0;
    bottom: -100%;
    transition: all ease 0.3s;

}
#nav-part2 h4:hover::after{
    bottom: 0;
}
#nav-part2 h4 a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;

}
#nav-part2 h4 a:hover{
    color: white;
}

#center{
    height: 65vh;
    width: 100%;
    display: flex ;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;

}

#page1 video{
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#hero-shape{
    height: 36vw;
    width: 46vw;
    position: absolute;
    right: 0;
    top: 65vh;
}
#hero-1{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fe320a;
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
    filter: blur(10px);

}

#hero-2{
    height: 30vw;
    width: 30vw;
    position: absolute;
    background:linear-gradient(#fe320a,#fe4f0af6);
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    animation-name: anime2;
    animation-duration: 5s;
   animation-iteration-count: infinite;
    animation-direction: alternate;

}
#hero-3{
    height: 30vw;
    width: 30vw;
    position: absolute;
    background:linear-gradient(#fe320a,#fe4f0af6);
    border-top-left-radius:50% ;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes anime1{
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0% ,10%);
    }
}

@keyframes anime2{
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20% ,30%);
    }
}
#page2{
    min-height:100vh ;
    width: 100%;
    background-color:#EFEAE3;
    padding: 8vw 0;
    position: relative;
}
#moving{
   overflow-x: auto;
   white-space:nowrap;
}
#moving::-webkit-scrollbar{
    display: none;
}

#moving h1{
   font-size: 9vw;
  display: inline-block;
}
#gola{
    height: 50px;
    width: 50px;
    background-color: #fe320a;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;

}
#con{
    display: inline-block;
    white-space: nowrap;
    animation-name: animation;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animation {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
#page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 4vw;
    width: 55%;
    line-height: 4vw;
}
#bottom-part-2{
    width: 25%;
}
#bottom-part-2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part-2 p{
    font-weight: 200;
    margin-top: 1vw;
}
#page2 #goey{
    height: 32vw;
    width: 32vw;
    border-radius: 50%;
    background:linear-gradient(to top right, #fe320a,#fe5b0a);
    position:absolute;
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: goey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
}

@keyframes goey{
    from{
        transform: translate(10%,-10%) skew(0);
    }
    to{
        transform: translate(-10%,10%) skew(-12deg);
    }
}
#page3{
    min-height: 100vh;
    width: 100%;
   background-color: #EFEAE3;
   padding: 4vw 0;
}
.elem{
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0,2vw;
    overflow: hidden;
    border-bottom: 1px solid rgb(122, 118, 118);
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition:all ease 0.3s;
}

.elem:hover .overlay{
    top: 0;
}

#dot{
   height: 0.7vw;
   width:0.7vw;
   border-radius: 50%;
   position: relative;
   background-color: #fe320a;
   line-height: 10px;
   bottom: -10px;
}
#featured{
    padding-bottom: 20px;
    padding-left:  15px;
  background-color: #EFEAE3;
   left: 10px;
   
  }


#fixed-image{
    height: 30vw;
    width: 24vw;
    background-size: cover;
   background-position:center;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 27%;
    display: none;
}